<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="3.0.90.37 SP19"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="Adv_DateTime">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="240"/>
  <Property Name="Index" Value="15"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="320"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[HeaderSimple]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="HeaderSimple"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="1"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="210219" Value="Main Menu"/>
          <Text ID="210221" Value="Adv"/>
          <Text ID="210223" Value="Month"/>
          <Text ID="210224" Value="Day"/>
          <Text ID="210225" Value="Year"/>
          <Text ID="210226" Value="Hour"/>
          <Text ID="210227" Value="Minute"/>
          <Text ID="210228" Value="Second"/>
        </TextLayer>
        <IndexMap>
          <Index ID="210219" Value="16"/>
          <Index ID="210221" Value="18"/>
          <Index ID="210223" Value="20"/>
          <Index ID="210224" Value="21"/>
          <Index ID="210225" Value="22"/>
          <Index ID="210226" Value="23"/>
          <Index ID="210227" Value="24"/>
          <Index ID="210228" Value="25"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="Button_10">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="16"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Page_Main]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_9">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="60"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="18"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Page_Adv]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_3">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="240"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="12"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="38"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Internal.DateTime.Month]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="80"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_4">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="240"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="31"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="64"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Internal.DateTime.Day]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="80"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_5">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="240"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="2038"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="2010"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="90"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Internal.DateTime.Year]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="80"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_6">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="240"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="23"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="116"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Internal.DateTime.Hour]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="80"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_7">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="240"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="59"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="142"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Internal.DateTime.Minute]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="80"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_8">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="240"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="59"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="168"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Internal.DateTime.Second]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="80"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_15">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="20"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="38"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_16">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="21"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="64"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_17">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="22"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="90"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_18">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="23"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="116"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_19">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="24"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="142"/>
          <Property Name="Width" Value="230"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_20">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="25"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="168"/>
          <Property Name="Width" Value="230"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_3]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_4]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_4]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_4]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_8]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_4]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_3]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_3]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_5]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_6]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_4]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_6]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_4]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_6]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_7]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_7]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_7]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_8]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_6]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_8]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_6]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_8]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_3]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_7]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_7]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_7]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[Numeric_3]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[Numeric_4]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[Numeric_6]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[Numeric_7]"/>
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[Numeric_8]"/>
  </TabSequence>
</Page>