<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="3.0.90.37 SP19"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="Adv_Inputs1">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="240"/>
  <Property Name="Index" Value="20"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="320"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[HeaderSimple]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="HeaderSimple"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="1"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="200911" Value="Adv"/>
          <Text ID="200913" Value="Main Menu"/>
          <Text ID="200915" Value="Outputs"/>
          <Text ID="490793" Value="Next"/>
          <Text ID="492284" Value="Last"/>
        </TextLayer>
        <IndexMap>
          <Index ID="200911" Value="44"/>
          <Index ID="200913" Value="46"/>
          <Index ID="200915" Value="48"/>
          <Index ID="490793" Value="5"/>
          <Index ID="492284" Value="4"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="Button_7">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="44"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Page_Adv]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_10">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="60"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="46"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Page_Main]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_8">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="120"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="48"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Page_Adv_Outputs1]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_9">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="260"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="5"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Page_Adv_Inputs2]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_1">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[LEDGrayGreen]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[0].PhysicalValue]"/>
          <Property Name="Left" Value="130"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="55"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_2">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[LEDGrayGreen]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[1].PhysicalValue]"/>
          <Property Name="Left" Value="130"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="75"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_3">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[LEDGrayGreen]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[2].PhysicalValue]"/>
          <Property Name="Left" Value="130"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="95"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_4">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[LEDGrayGreen]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[3].PhysicalValue]"/>
          <Property Name="Left" Value="130"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="115"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_5">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[LEDGrayGreen]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[8].PhysicalValue]"/>
          <Property Name="Left" Value="290"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="95"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_6">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[LEDGrayGreen]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[9].PhysicalValue]"/>
          <Property Name="Left" Value="290"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="115"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_7">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[LEDGrayGreen]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[10].PhysicalValue]"/>
          <Property Name="Left" Value="290"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="135"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_8">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[LEDGrayGreen]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[11].PhysicalValue]"/>
          <Property Name="Left" Value="290"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="155"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_9">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[LEDGrayGreen]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[4].PhysicalValue]"/>
          <Property Name="Left" Value="130"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="135"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_10">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[LEDGrayGreen]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[5].PhysicalValue]"/>
          <Property Name="Left" Value="130"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="155"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_11">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[LEDGrayGreen]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[6].PhysicalValue]"/>
          <Property Name="Left" Value="290"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="55"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_12">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[LEDGrayGreen]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[7].PhysicalValue]"/>
          <Property Name="Left" Value="290"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="75"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_11">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="200"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="4"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Page_Adv_Inputs9]"/>
          <Property Name="Width" Value="60"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="Braider">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.AdvIOBraider_SDP]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="489887" Value="E-Stop OK"/>
          <Text ID="489888" Value="Start"/>
          <Text ID="489889" Value="Jog"/>
          <Text ID="489890" Value="Stop"/>
          <Text ID="489891" Value="Puller Door Locked"/>
          <Text ID="489892" Value="Puller Door Closed"/>
          <Text ID="489893" Value="-"/>
          <Text ID="489894" Value="-"/>
          <Text ID="489895" Value="Reset"/>
          <Text ID="489896" Value="Open Puller"/>
          <Text ID="489897" Value="Close Puller"/>
          <Text ID="489898" Value="Puller Door Unlock"/>
        </TextLayer>
        <IndexMap>
          <Index ID="489887" Value="0"/>
          <Index ID="489888" Value="1"/>
          <Index ID="489889" Value="2"/>
          <Index ID="489890" Value="3"/>
          <Index ID="489891" Value="4"/>
          <Index ID="489892" Value="5"/>
          <Index ID="489893" Value="6"/>
          <Index ID="489894" Value="7"/>
          <Index ID="489895" Value="8"/>
          <Index ID="489896" Value="9"/>
          <Index ID="489897" Value="10"/>
          <Index ID="489898" Value="11"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="5"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="55"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="5"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="1"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="75"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="5"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="2"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="95"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="5"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="3"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="115"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="165"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="4"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="95"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="165"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="5"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="115"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_7">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="165"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="6"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="135"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_8">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="165"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="7"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="155"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_9">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="5"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="8"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="135"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_10">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="5"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="9"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="155"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_11">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="165"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="10"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="55"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_12">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="165"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="11"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="75"/>
          <Property Name="Width" Value="125"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="Solder">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.AdvIOSolder_SDP]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="489875" Value="E-Stop OK"/>
          <Text ID="489876" Value="Start"/>
          <Text ID="489877" Value="Jog"/>
          <Text ID="489878" Value="Stop"/>
          <Text ID="489879" Value="Puller Door Locked"/>
          <Text ID="489880" Value="Puller Door Closed"/>
          <Text ID="489881" Value="-"/>
          <Text ID="489882" Value="-"/>
          <Text ID="489883" Value="Reset"/>
          <Text ID="489884" Value="Open Puller"/>
          <Text ID="489885" Value="Close Puller"/>
          <Text ID="489886" Value="Puller Door Unlock"/>
        </TextLayer>
        <IndexMap>
          <Index ID="489875" Value="0"/>
          <Index ID="489876" Value="1"/>
          <Index ID="489877" Value="2"/>
          <Index ID="489878" Value="3"/>
          <Index ID="489879" Value="4"/>
          <Index ID="489880" Value="5"/>
          <Index ID="489881" Value="6"/>
          <Index ID="489882" Value="7"/>
          <Index ID="489883" Value="8"/>
          <Index ID="489884" Value="9"/>
          <Index ID="489885" Value="10"/>
          <Index ID="489886" Value="11"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="5"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="55"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="5"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="1"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="75"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="5"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="2"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="95"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="5"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="3"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="115"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="165"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="4"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="95"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="165"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="5"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="115"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_7">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="165"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="6"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="135"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_8">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="165"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="7"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="155"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_9">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="5"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="8"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="135"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_10">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="5"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="9"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="155"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_11">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="165"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="10"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="55"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_12">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="165"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="11"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="75"/>
          <Property Name="Width" Value="125"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
  </Layers>
  <MovementOrder/>
  <TabSequence/>
</Page>