<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="3.0.90.37 SP19"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="Adv_Inputs6AI1">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="240"/>
  <Property Name="Index" Value="25"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="320"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[HeaderSimple]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="HeaderSimple"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="1"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="491862" Value="Adv"/>
          <Text ID="491864" Value="Main Menu"/>
          <Text ID="491866" Value="Outputs"/>
          <Text ID="492260" Value="Next"/>
        </TextLayer>
        <IndexMap>
          <Index ID="491862" Value="8"/>
          <Index ID="491864" Value="11"/>
          <Index ID="491866" Value="14"/>
          <Index ID="492260" Value="22"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="Button_7">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="8"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Page_Adv]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_10">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="60"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="11"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Page_Main]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_8">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="120"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="14"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Page_Adv_Outputs1]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_4">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="170"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="99999"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="61"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[84].PhysicalValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="90"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_5">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="170"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="99999"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="87"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[85].PhysicalValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="90"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_6">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="170"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="99999"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="113"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[86].PhysicalValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="90"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_7">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="170"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="99999"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="139"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[87].PhysicalValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="90"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_13">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="260"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="22"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Page_Adv_Inputs7]"/>
          <Property Name="Width" Value="60"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="Braider">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.AdvIOBraider_SDP]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="491930" Value="Foot Pedal"/>
          <Text ID="491931" Value="-"/>
          <Text ID="491932" Value="-"/>
          <Text ID="491933" Value="-"/>
          <Text ID="492254" Value="Last"/>
          <Text ID="492256" Value="Prev"/>
        </TextLayer>
        <IndexMap>
          <Index ID="491930" Value="24"/>
          <Index ID="491931" Value="25"/>
          <Index ID="491932" Value="26"/>
          <Index ID="491933" Value="27"/>
          <Index ID="492254" Value="28"/>
          <Index ID="492256" Value="30"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_15">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="24"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="61"/>
          <Property Name="Width" Value="150"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_16">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="25"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="87"/>
          <Property Name="Width" Value="150"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_17">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="26"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="113"/>
          <Property Name="Width" Value="150"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_18">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="27"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="139"/>
          <Property Name="Width" Value="150"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_11">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="200"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="28"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Page_Adv_Inputs4]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_12">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="200"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="30"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Page_Adv_Inputs4]"/>
          <Property Name="Width" Value="60"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="Solder">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.AdvIOSolder_SDP]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="491926" Value="-"/>
          <Text ID="491927" Value="-"/>
          <Text ID="491928" Value="-"/>
          <Text ID="491929" Value="-"/>
          <Text ID="492262" Value="Prev"/>
        </TextLayer>
        <IndexMap>
          <Index ID="491926" Value="28"/>
          <Index ID="491927" Value="29"/>
          <Index ID="491928" Value="30"/>
          <Index ID="491929" Value="31"/>
          <Index ID="492262" Value="32"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_15">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="28"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="61"/>
          <Property Name="Width" Value="150"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_16">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="29"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="87"/>
          <Property Name="Width" Value="150"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_17">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="30"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="113"/>
          <Property Name="Width" Value="150"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_18">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="10"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="31"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="139"/>
          <Property Name="Width" Value="150"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_12">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="200"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="32"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Page_Adv_Inputs5]"/>
          <Property Name="Width" Value="60"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
  </Layers>
  <MovementOrder/>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[Numeric_4]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[Numeric_5]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[Numeric_6]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[Numeric_7]"/>
  </TabSequence>
</Page>