<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="3.0.90.37 SP19"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="Adv_Outputs1">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="240"/>
  <Property Name="Index" Value="29"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="320"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[HeaderSimple]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="HeaderSimple"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <Layer Name="Solder">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.AdvIOSolder_SDP]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="1"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="490659" Value="E-Stop Reset"/>
          <Text ID="490660" Value="Reset LT"/>
          <Text ID="490661" Value="Puller Valve"/>
          <Text ID="490662" Value="Stack LT - Red"/>
          <Text ID="490663" Value="Pay Off Mode"/>
          <Text ID="490664" Value="Take-Up Mode"/>
          <Text ID="490665" Value="StripPO1 Mode"/>
          <Text ID="490666" Value="StripPO2 Mode"/>
          <Text ID="490667" Value="Stack LT - Green"/>
          <Text ID="490668" Value="Stack LT - Blue"/>
          <Text ID="490669" Value="Stack LT - Amber"/>
          <Text ID="490670" Value="Horn"/>
        </TextLayer>
        <IndexMap>
          <Index ID="490659" Value="0"/>
          <Index ID="490660" Value="1"/>
          <Index ID="490661" Value="2"/>
          <Index ID="490662" Value="3"/>
          <Index ID="490663" Value="4"/>
          <Index ID="490664" Value="5"/>
          <Index ID="490665" Value="6"/>
          <Index ID="490666" Value="7"/>
          <Index ID="490667" Value="8"/>
          <Index ID="490668" Value="9"/>
          <Index ID="490669" Value="10"/>
          <Index ID="490670" Value="11"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="25"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="55"/>
          <Property Name="Width" Value="105"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="25"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="1"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="75"/>
          <Property Name="Width" Value="105"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="25"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="2"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="95"/>
          <Property Name="Width" Value="105"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="25"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="3"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="115"/>
          <Property Name="Width" Value="105"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="185"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="4"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="95"/>
          <Property Name="Width" Value="105"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_7">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="185"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="5"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="115"/>
          <Property Name="Width" Value="105"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_8">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="185"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="6"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="135"/>
          <Property Name="Width" Value="105"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_9">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="185"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="7"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="155"/>
          <Property Name="Width" Value="105"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_12">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="25"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="8"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="135"/>
          <Property Name="Width" Value="105"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_13">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="25"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="9"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="155"/>
          <Property Name="Width" Value="105"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_14">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="185"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="10"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="55"/>
          <Property Name="Width" Value="105"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_15">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="185"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="11"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="75"/>
          <Property Name="Width" Value="105"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="Braider">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.AdvIOBraider_SDP]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="206126" Value="E-Stop Reset"/>
          <Text ID="206127" Value="Reset LT"/>
          <Text ID="206128" Value="Puller Valve"/>
          <Text ID="206129" Value="Stack LT - Red"/>
          <Text ID="206130" Value="Pay Off Mode"/>
          <Text ID="206131" Value="Take-Up Mode"/>
          <Text ID="206132" Value="-"/>
          <Text ID="206133" Value="-"/>
          <Text ID="206134" Value="Stack LT - Green"/>
          <Text ID="206135" Value="Stack LT - Blue"/>
          <Text ID="206136" Value="Stack LT - Amber"/>
          <Text ID="206137" Value="Horn"/>
        </TextLayer>
        <IndexMap>
          <Index ID="206126" Value="37"/>
          <Index ID="206127" Value="38"/>
          <Index ID="206128" Value="39"/>
          <Index ID="206129" Value="40"/>
          <Index ID="206130" Value="41"/>
          <Index ID="206131" Value="42"/>
          <Index ID="206132" Value="43"/>
          <Index ID="206133" Value="44"/>
          <Index ID="206134" Value="45"/>
          <Index ID="206135" Value="46"/>
          <Index ID="206136" Value="47"/>
          <Index ID="206137" Value="48"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="25"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="37"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="55"/>
          <Property Name="Width" Value="105"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="25"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="38"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="75"/>
          <Property Name="Width" Value="105"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="25"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="39"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="95"/>
          <Property Name="Width" Value="105"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="25"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="40"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="115"/>
          <Property Name="Width" Value="105"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="185"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="41"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="95"/>
          <Property Name="Width" Value="105"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_7">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="185"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="42"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="115"/>
          <Property Name="Width" Value="105"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_8">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="185"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="43"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="135"/>
          <Property Name="Width" Value="105"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_9">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="185"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="44"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="155"/>
          <Property Name="Width" Value="105"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_12">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="25"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="45"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="135"/>
          <Property Name="Width" Value="105"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_13">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="25"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="46"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="155"/>
          <Property Name="Width" Value="105"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_14">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="185"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="47"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="55"/>
          <Property Name="Width" Value="105"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_15">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="185"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="48"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="75"/>
          <Property Name="Width" Value="105"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="Forcing">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="Button_1">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="Source[local].Border[Raised]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="7"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedBorder" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="55"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceOn1]"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_2">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="Source[local].Border[Raised]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="5"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedBorder" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="75"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceOn2]"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_3">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="Source[local].Border[Raised]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="5"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedBorder" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="95"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceOn3]"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_4">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="Source[local].Border[Raised]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="5"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedBorder" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="115"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceOn4]"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_5">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="Source[local].Border[Raised]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="5"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedBorder" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="135"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceOn5]"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_6">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="Source[local].Border[Raised]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="5"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedBorder" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="155"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceOn6]"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_8">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="Source[local].Border[Raised]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="165"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedBorder" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="55"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceOn7]"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_9">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="Source[local].Border[Raised]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="165"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedBorder" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="75"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceOn8]"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_11">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="Source[local].Border[Raised]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="165"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedBorder" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="95"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceOn9]"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_12">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="Source[local].Border[Raised]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="165"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedBorder" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="115"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceOn10]"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_13">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="Source[local].Border[Raised]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="165"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedBorder" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="135"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceOn11]"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_14">
          <Property Name="Bitmap" Value="Source[local].Bitmap[AlarmInactive]"/>
          <Property Name="BitmapAlignmentHorizontal" Value="Center"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="Border" Value="Source[local].Border[Raised]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="165"/>
          <Property Name="PressedBitmap" Value="Source[local].Bitmap[AlarmActive]"/>
          <Property Name="PressedBitmapSource" Value="SingleBitmap"/>
          <Property Name="PressedBorder" Value="Source[local].Border[RaisedInner]"/>
          <Property Name="PressedTextSource" Value="None"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="155"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceOn12]"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_1">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[LEDGrayGreen]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[60].PhysicalValue]"/>
          <Property Name="Left" Value="130"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="55"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_2">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[LEDGrayGreen]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[61].PhysicalValue]"/>
          <Property Name="Left" Value="130"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="75"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_3">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[LEDGrayGreen]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[62].PhysicalValue]"/>
          <Property Name="Left" Value="130"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="95"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_4">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[LEDGrayGreen]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[63].PhysicalValue]"/>
          <Property Name="Left" Value="130"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="115"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_9">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[LEDGrayGreen]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[64].PhysicalValue]"/>
          <Property Name="Left" Value="130"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="135"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_10">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[LEDGrayGreen]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[65].PhysicalValue]"/>
          <Property Name="Left" Value="130"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="155"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="25"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="55"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue1]"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="25"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="75"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue2]"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_3">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="25"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="95"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue3]"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_4">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="25"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="115"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue4]"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_5">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="25"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="135"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue5]"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_6">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="25"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="155"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue6]"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_5">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[LEDGrayGreen]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[68].PhysicalValue]"/>
          <Property Name="Left" Value="290"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="95"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_6">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[LEDGrayGreen]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[69].PhysicalValue]"/>
          <Property Name="Left" Value="290"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="115"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_7">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[LEDGrayGreen]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[70].PhysicalValue]"/>
          <Property Name="Left" Value="290"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="135"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_8">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[LEDGrayGreen]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[71].PhysicalValue]"/>
          <Property Name="Left" Value="290"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="155"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_11">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[LEDGrayGreen]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[66].PhysicalValue]"/>
          <Property Name="Left" Value="290"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="55"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_12">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BitmapGroup" Value="Source[local].BitmapGroup[LEDGrayGreen]"/>
          <Property Name="BitmapIndex" Value="0"/>
          <Property Name="BitmapSource" Value="MultipleBitmaps"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.IOForce.Channel[67].PhysicalValue]"/>
          <Property Name="Left" Value="290"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Bitmap]"/>
          <Property Name="Top" Value="75"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_7">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="185"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="55"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue7]"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_8">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="185"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="75"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue8]"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_9">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="185"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="95"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue9]"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_10">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="185"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="115"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue10]"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_11">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="185"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="135"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue11]"/>
          <Property Name="Width" Value="125"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_12">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="185"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="155"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[IOForceValue12]"/>
          <Property Name="Width" Value="125"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="4"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="490875" Value="Adv"/>
          <Text ID="490877" Value="Main Menu"/>
          <Text ID="490879" Value="Inputs"/>
          <Text ID="490883" Value="Next"/>
          <Text ID="503617" Value="Last"/>
        </TextLayer>
        <IndexMap>
          <Index ID="490875" Value="0"/>
          <Index ID="490877" Value="2"/>
          <Index ID="490879" Value="4"/>
          <Index ID="490883" Value="8"/>
          <Index ID="503617" Value="7"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="Button_7">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="0"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Page_Adv]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_10">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="60"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="2"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Page_Main]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_8">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="120"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="4"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Page_Adv_Inputs1]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_13">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="260"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="8"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Page_Adv_Outputs2]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_11">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="200"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="7"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Page_Adv_Outputs3]"/>
          <Property Name="Width" Value="60"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
  </Layers>
  <MovementOrder/>
  <TabSequence/>
</Page>