<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="3.0.90.37 SP19"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="Recipe6_Export">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="240"/>
  <Property Name="Index" Value="75"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="320"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[HeaderSimple]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="HeaderSimple"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="1"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="478675" Value="Back"/>
          <Text ID="478677" Value="Main Menu"/>
          <Text ID="478679" Value="Export"/>
          <Text ID="478682" Value="Select Recipe to Export:"/>
          <Text ID="478687" Value="External File Number:"/>
        </TextLayer>
        <IndexMap>
          <Index ID="478675" Value="5"/>
          <Index ID="478677" Value="7"/>
          <Index ID="478679" Value="11"/>
          <Index ID="478682" Value="15"/>
          <Index ID="478687" Value="16"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001018" Name="Dropdown_1">
          <Property Name="ButtonsBitmapGroup" Value="None"/>
          <Property Name="ButtonsPressedBitmapGroup" Value="None"/>
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.RecipeStatus]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="32"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.HMI.RecipeN]"/>
          <Property Name="Left" Value="20"/>
          <Property Name="LeftBitmap" Value="None"/>
          <Property Name="LeftTextGroup" Value="None"/>
          <Property Name="MaxDatapoint" Value="Source[global].Variable[Local.Programs.datamgr.Internal.MaxRecipes]"/>
          <Property Name="MaxIndex" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIndex" Value="None"/>
          <Property Name="OptionDatapoint" Value="None"/>
          <Property Name="RightBitmap" Value="None"/>
          <Property Name="RightTextGroup" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[DropDown]"/>
          <Property Name="TextDatapoint" Value="Source[global].Variable[Local.DataMgr.RecipeNames_vc]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleStrings"/>
          <Property Name="Top" Value="75"/>
          <Property Name="Width" Value="280"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_7">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="5"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Page_Back]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_10">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="60"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="7"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Page_Main]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_8">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="260"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="11"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Recipe_Export]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="51"/>
          <Property Name="Height" Value="24"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[Local.HMI.RecipeStatus]"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationValue" Value="1"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[RecipeStatus]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="170"/>
          <Property Name="Width" Value="320"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="50"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="15"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="50"/>
          <Property Name="Width" Value="220"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_3">
          <Property Name="CompletionDatapoint" Value="Source[global].Variable[Local.HMI.RecipeStatus]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="100"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="255"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="140"/>
          <Property Name="UnitTextAlignment" Value="Center"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.HMI.RecipeN_ext]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="100"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="16"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="115"/>
          <Property Name="Width" Value="120"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Dropdown_1]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Numeric_3]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Numeric_3]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Numeric_3]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Numeric_3]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[Numeric_3]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[Dropdown_1]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[Dropdown_1]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[Dropdown_1]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[Dropdown_1]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[Dropdown_1]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[Numeric_3]"/>
  </TabSequence>
</Page>