<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="3.0.90.37 SP19"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="Run8_StripPO1Spool">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="240"/>
  <Property Name="Index" Value="87"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="320"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[HeaderSimple]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="HeaderSimple"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="1"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="496942" Value="Strip Pay Off #1"/>
          <Text ID="496963" Value="Back"/>
        </TextLayer>
        <IndexMap>
          <Index ID="496942" Value="2"/>
          <Index ID="496963" Value="7"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="2"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="38"/>
          <Property Name="Width" Value="190"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_9">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="36"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="PressedBitmapSource" Value="None"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="7"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="204"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[Page_Run1Main]"/>
          <Property Name="Width" Value="60"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_5">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="200"/>
          <Property Name="Locking" Value="Datapoint &gt;= Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.Run.JobInProgress]"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[ToggleButton]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[EnabledDisabled]"/>
          <Property Name="TextIndex" Value="0"/>
          <Property Name="TextIndexDatapoint" Value="Source[global].Variable[Local.Recipe.StripPayOff[0].Disabled]"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="38"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[RunSet_StrPOS1Enabled]"/>
          <Property Name="Width" Value="120"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
    <Layer Name="StripPOS1Enabled">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="240"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="Source[global].Variable[Local.HMI.RunStripPOS1Enabled_SDP]"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="320"/>
      <Property Name="Z-Order" Value="2"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="502074" Value="Strip Pay Off #1 Spool ID"/>
          <Text ID="502076" Value="Strip Pay Off #1 Nominal Tension"/>
          <Text ID="502077" Value="Strip Pay Off #1 Maximum Tension"/>
          <Text ID="507660" Value="Strip Pay Off #1 Minimum Tension"/>
        </TextLayer>
        <IndexMap>
          <Index ID="502074" Value="0"/>
          <Index ID="502076" Value="2"/>
          <Index ID="502077" Value="3"/>
          <Index ID="507660" Value="4"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="64"/>
          <Property Name="Width" Value="190"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_4">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="200"/>
          <Property Name="Locking" Value="Datapoint &gt;= Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[Local.Run.JobInProgress]"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="64"/>
          <Property Name="UnitTextAlignment" Value="Center"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Recipe.StripPayOff[0].SpoolID]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="2"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="116"/>
          <Property Name="Width" Value="190"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_6">
          <Property Name="AddFractionDigits" Value="-1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="200"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="50"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="116"/>
          <Property Name="UnitTextAlignment" Value="Center"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Recipe.StripPayOff[0].Tension]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_7">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="3"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="142"/>
          <Property Name="Width" Value="190"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_7">
          <Property Name="AddFractionDigits" Value="-1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="200"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="50"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="142"/>
          <Property Name="UnitTextAlignment" Value="Center"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Recipe.StripPayOff[0].TensionMax]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_8">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FieldLabel]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="4"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="90"/>
          <Property Name="Width" Value="190"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_8">
          <Property Name="AddFractionDigits" Value="-1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="200"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="50"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="90"/>
          <Property Name="UnitTextAlignment" Value="Center"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Local.Recipe.StripPayOff[0].TensionMin]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="120"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[StripPOS1Enabled].Control[Numeric_4]">
      <Property Name="Down" Value="Source[embedded].Layer[StripPOS1Enabled].Control[Numeric_8]"/>
      <Property Name="Left" Value="Source[embedded].Layer[StripPOS1Enabled].Control[Numeric_8]"/>
      <Property Name="Right" Value="Source[embedded].Layer[StripPOS1Enabled].Control[Numeric_8]"/>
      <Property Name="Up" Value="Source[embedded].Layer[StripPOS1Enabled].Control[Numeric_7]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[StripPOS1Enabled].Control[Numeric_6]">
      <Property Name="Down" Value="Source[embedded].Layer[StripPOS1Enabled].Control[Numeric_7]"/>
      <Property Name="Left" Value="Source[embedded].Layer[StripPOS1Enabled].Control[Numeric_8]"/>
      <Property Name="Right" Value="Source[embedded].Layer[StripPOS1Enabled].Control[Numeric_7]"/>
      <Property Name="Up" Value="Source[embedded].Layer[StripPOS1Enabled].Control[Numeric_8]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[StripPOS1Enabled].Control[Numeric_7]">
      <Property Name="Down" Value="Source[embedded].Layer[StripPOS1Enabled].Control[Numeric_4]"/>
      <Property Name="Left" Value="Source[embedded].Layer[StripPOS1Enabled].Control[Numeric_6]"/>
      <Property Name="Right" Value="Source[embedded].Layer[StripPOS1Enabled].Control[Numeric_6]"/>
      <Property Name="Up" Value="Source[embedded].Layer[StripPOS1Enabled].Control[Numeric_6]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[StripPOS1Enabled].Control[Numeric_8]">
      <Property Name="Down" Value="Source[embedded].Layer[StripPOS1Enabled].Control[Numeric_6]"/>
      <Property Name="Left" Value="Source[embedded].Layer[StripPOS1Enabled].Control[Numeric_4]"/>
      <Property Name="Right" Value="Source[embedded].Layer[StripPOS1Enabled].Control[Numeric_6]"/>
      <Property Name="Up" Value="Source[embedded].Layer[StripPOS1Enabled].Control[Numeric_4]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[StripPOS1Enabled].Control[Numeric_4]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[StripPOS1Enabled].Control[Numeric_6]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[StripPOS1Enabled].Control[Numeric_7]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[StripPOS1Enabled].Control[Numeric_8]"/>
  </TabSequence>
</Page>